* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	background: url('../img/top_bg.jpg') repeat-x;
	font: 13px Arial;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 21px;
}

h3 {
	font-size: 19px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

p {
    line-height: 17px;
}

input {
    margin-bottom: 10px;
    padding: 0 10px;
    line-height: 20px;
    width: 100%;
}

label {
	padding: 0 10px;
}