/* Header */

.header {
	background: #fff url('../img/header_bg.jpg') no-repeat;
	height: 524px;
}

.navbar {
	height: 108px;
	line-height: 108px;
}

.header-phone {
	height: 51px;
	float: right;
	line-height: 51px;
	color: #fff;
	font-size: 1.3em;
}

.navbar-header {
	float: left;
}

.navbar-brand {
	width: 286px;
    height: 72px;
    display: inline-block;
    vertical-align: middle;
}

.navbar-menu {
	float: right;
}

.wrap-jumbotron {
	height: 364px;
}

.jumbotron {
	width: 50%;
    margin-top: 87px;
    float: right;
}

.jumbotron-title {
	color: #fff;
}

.jumbotron-text {
	text-align: justify;
	color: #fff;
	margin: 10px 0;
}

.header-phone-link {
	color: #fff;
	text-decoration: none;
}

.menu-items {
	float: right;
}

.item {
	display: inline-block;
	text-align: center;
	margin: 0 10px;
	min-width: 76px;
}

.item a {
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

.active, .item:hover, .item:active {
	background: url('../img/home_hover.jpg') 50% no-repeat;
}

.active a, .item:hover a, .item:active a {
	color: #fff;
}