.wrap-widget {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-top: none;
	min-height: 215px;
	padding: 25px;
	margin-top: 10px;
	position: relative;
	z-index: 1;
}

/* User Login */
.user-login {
	border: 1px solid #ddd;
	background: #F6F6F6 url('../img/login_top.jpg') no-repeat;
}

.user-login-title {
	color: #A7A642;
	margin-bottom: 25px;
}

.user-login button {
	margin-bottom: 10px;
}

.user-login sup {
	color: #FF0000;
}

/* Latest news */
.latest-news {
	background: url('../img/event_top.jpg') no-repeat;
}

.latest-news:before {
	background: #f6f6f6;
	content : "";
	position: absolute;
	left    : 0;
	bottom  : 0;
	width: 253px;
	height  : 245px;
	border: 1px solid #ddd;
	-moz-border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: none;
}

.latest-news-title {
	float: right;
	color: #FA8D3E;
	margin-bottom: 25px;
}

.title-with-mark {
	margin-left: -5px;
	margin-bottom: 5px;
    padding-left: 30px;
	background: url('../img/green_right.jpg') no-repeat;
	color: #A7A642;
	line-height: 25px;
}

.news {
	clear: both;
	margin-bottom: 10px;
	position: relative;
}

.news p {
	padding-left: 25px;
	margin-bottom: 5px;
}
